annotated-types==0.7.0
APScheduler==3.11.2
cabarchive==0.2.5
certifi==2026.1.4
charset-normalizer==3.4.4
cx_Freeze==8.5.3
filelock==3.20.3
freeze-core==0.5.0
greenlet==3.3.1
idna==3.11
lief==0.17.1
packaging==26.0
pydantic==2.12.5
pydantic_core==2.41.5
PyQt6==6.10.2
PyQt6-Qt6==6.10.2
PyQt6_sip==13.11.0
python-msilib==0.5.0
QtAwesome==1.4.1
QtPy==2.4.3
requests==2.32.5
setuptools==80.10.2
SQLAlchemy==2.0.46
striprtf==0.0.29
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
UniversalSpeech==1.0.2.1
urllib3==2.6.3
